---
http_interactions:
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/ACCESS_TOKEN/private/full
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Fri, 26 Sep 2014 09:27:37 GMT
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'><id>https://spreadsheets.google.com/feeds/worksheets/ACCESS_TOKEN/private/full</id><updated>2014-09-26T09:27:37.127Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Import integration</title><link rel='alternate' type='application/atom+xml'
        href='https://docs.google.com/spreadsheets/d/ACCESS_TOKEN/edit'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/ACCESS_TOKEN/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/ACCESS_TOKEN/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/ACCESS_TOKEN/private/full'/><author><name>nm.dowse</name><email>nm.dowse@gmail.com</email></author><openSearch:totalResults>2</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/worksheets/ACCESS_TOKEN/private/full/od6</id><updated>2014-09-26T09:27:37.127Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Sheet1</title><content type='text'>Sheet1</content><link rel='http://schemas.google.com/spreadsheets/2006#listfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/list/ACCESS_TOKEN/od6/private/full'/><link
        rel='http://schemas.google.com/spreadsheets/2006#cellsfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/cells/ACCESS_TOKEN/od6/private/full'/><link
        rel='http://schemas.google.com/visualization/2008#visualizationApi' type='application/atom+xml'
        href='https://docs.google.com/spreadsheets/d/ACCESS_TOKEN/gviz/tq?gid=0'/><link
        rel='http://schemas.google.com/spreadsheets/2006#exportcsv' type='text/csv'
        href='https://docs.google.com/spreadsheets/d/ACCESS_TOKEN/export?gid=0&amp;format=csv'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/ACCESS_TOKEN/private/full/od6'/><link
        rel='edit' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/ACCESS_TOKEN/private/full/od6/-u3c64m'/><gs:colCount>26</gs:colCount><gs:rowCount>1000</gs:rowCount></entry><entry><id>https://spreadsheets.google.com/feeds/worksheets/ACCESS_TOKEN/private/full/o4zcp71</id><updated>2014-09-26T09:27:37.127Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Sheet2</title><content type='text'>Sheet2</content><link rel='http://schemas.google.com/spreadsheets/2006#listfeed'
        type='application/atom+xml' href='https://spreads[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/ACCESS_TOKEN/od6/private/full
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Fri, 26 Sep 2014 09:27:37 GMT
      Alternate-Protocol:
      - 443:quic,p=0.002[...]
